<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/design.css" />
  </head>
  <body class="theme-color">
    <main>
      <!-- Show the modal to the user -->
      <button id="myBtn">Open Modal</button>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <button id='btn-accept'>Confirm your decision</button>
          <button id="btn-cancel" value="ffghh">Abort your decision</button>
        </div>
      </div>
      <h1 id="response"></h1>
    </main>

    <script src="/actions/modal.js"></script>
  </body>
</html>
